In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

## Read csv

In [ ]:
df = spark.read.option('header',True)\
    .option('inferSchema',True)\
        .csv('CLEAN_FIFA23_official_data.csv')

In [ ]:
df.show(5)

## Drop Columns for Dataset

In [ ]:
df=df.drop('_c0')

## Print Schema

In [ ]:
df.printSchema()

## Group By with OrderBy Filter

In [ ]:
df.groupBy('Club').count().orderBy(col('count').desc()).filter(col('count') > 45).show()

## Create TempView

In [ ]:
df.createOrReplaceTempView('mytable')

##

In [ ]:
spark.sql('''
     select age,count(*) AS cpa from mytable   
     GROUP BY age   
     HAVING cpa > 1000
     ORDER BY  cpa desc
     
          ''')\
.show()

In [ ]:
df.show(1)

In [ ]:
df.write \
    .option("compression", "snappy") \
    .partitionBy("Year_Joined") \
    .mode('overwrite')\
    .parquet("/fifa-23")